<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h1 class="mb-3">Login</h1>
        </div>
        <div class="form-floating mb-3">
            <input type="email" formControlName="email" class="form-control is-invalid" id="floatingInput" placeholder="Email">
            <label for="floatingInput">Email address</label>
            <div class="invalid-feedback">Choose right Email Address</div>
          </div>
          <div class="form-floating">
            <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
        
        <div class="d-grid">
            <button type="submit" class="btn btn-lg btn-primary mt-3">Sign in</button>
        </div>
      </form>
    </div>
    <div class="col-4 ms-5">
      <p> Form Status: {{loginForm.status}}</p>
      <p> Email Status: {{loginForm.get('email')?.status}}</p>
      <p> Email touched:  {{loginForm.get('email')?.touched}}</p>
      <p> Form dirty: {{loginForm.get('email')?.dirty}}</p>
      <pre> {{loginForm.value | json}}</pre>
    </div>


  </div>